.menu {
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.menu__block {
  position: relative;
  display: flex;
  align-items: center;
  padding: 32px 5px;
  justify-content: space-between;
  gap: 3%;
}
.menu__logo {
  width: 15%;
}
.menu__item {
  padding-left: 125px;
  width: 50%;
}
.menu__item ul li {
  display: inline-block;

  & a {
    color: rgb(160, 160, 160);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: -0.3px;
    transition-duration: 0.3s;
  }
  & a:hover {
    color: rgb(255, 159, 40);
  }
}
.menu__item ul li:nth-child(2) {
  padding: 0 39.5px;
}
.menu__user p {
  width: 37px;
  height: 37px;
  background-color: rgb(255, 159, 40);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.menu__user span {
  display: block;
}
.menu__user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;

  & p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.3px;
  }
  & span {
    color: rgb(120, 120, 120);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.3px;
    padding: 0 10px;
  }
}
.menu__user__img button {
  background-color: #fff;
  cursor: pointer;
  padding-top: 10px;
}
.menu__user__icon {
  position: relative;
  cursor: pointer;
  width: 3%;
}
.menu__user__icon::before {
  content: "3";
  background-color: rgb(255, 159, 40);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.28px;
  height: 18.28px;
  position: absolute;
  left: 0;
  top: -5px;
}
.menu__user__profile {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 115px;
  border-radius: 5px;
  padding: 17.5px 32px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);

  & ul > li {
    padding-bottom: 17px;
  }
  & ul > li:last-child {
    padding-bottom: 0;
  }
}
.profil__item {
  display: flex;
  justify-content: start;
  align-items: center;

  & a {
    color: rgb(120, 120, 120);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: left;
    padding-left: 10px;
    transition-duration: 0.3s;
    &:hover {
      color: rgb(255, 159, 40);
    }
  }
}
.translate__page {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 3;

  & p {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    padding: 5px 4px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 0px 0px 10px 10px;

    &:hover {
      background-color: rgb(86, 204, 242);
      color: #fff;
    }
  }
}
.langActive {
  background-color: rgb(86, 204, 242);
}
