@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
/* .menu__wrapper {
  position: relative;
} */
.container {
  position: relative;
  width: 1158px;
  margin: auto;
}

.menu {
  /* position: fixed; */
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.menu__block {
  position: relative;
  display: flex;
  align-items: center;
  padding: 32px 5px;
  justify-content: space-between;
  gap: 3%;
}
.menu__logo {
  width: 15%;
}
.menu__item {
  padding-left: 125px;
  width: 50%;
}
.menu__item ul li {
  display: inline-block;

  & a {
    color: rgb(160, 160, 160);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: -0.3px;
    transition-duration: 0.3s;
  }
  & a:hover {
    color: rgb(255, 159, 40);
  }
}
.menu__item ul li:nth-child(2) {
  padding: 0 39.5px;
}
.menu__user p {
  width: 37px;
  height: 37px;
  background-color: rgb(255, 159, 40);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.menu__user span {
  display: block;
}
.menu__user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;

  & p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.3px;
  }
  & span {
    color: rgb(120, 120, 120);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.3px;
    padding: 0 10px;
  }
}
.menu__user-img button {
  background-color: #fff;
  cursor: pointer;
  padding-top: 10px;
}
.menu__user-icon {
  position: relative;
  cursor: pointer;
  width: 3%;
}
.menu__user-icon::before {
  content: "3";
  background-color: rgb(255, 159, 40);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.28px;
  height: 18.28px;
  position: absolute;
  left: 0;
  top: -5px;
}
.menu__user-profile {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 115px;
  border-radius: 5px;
  padding: 17.5px 32px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);

  & ul > li {
    padding-bottom: 17px;
  }
  & ul > li:last-child {
    padding-bottom: 0;
  }
}
.profil__item {
  display: flex;
  justify-content: start;
  align-items: center;

  & a {
    color: rgb(120, 120, 120);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: left;
    padding-left: 10px;
    transition-duration: 0.3s;
    &:hover {
      color: rgb(255, 159, 40);
    }
  }
}
.translate__page {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 3;

  & p {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    padding: 5px 4px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 0px 0px 10px 10px;

    &:hover {
      background-color: rgb(86, 204, 242);
      color: #fff;
    }
  }
}
.langActive {
  background-color: rgb(86, 204, 242);
}
header {
  margin-top: 10%;
}
.header__container {
  width: 1330px;
  margin: auto;
}
.header__block {
  display: flex;
  margin: 45px 0;
  justify-content: center;
  gap: 15px;
}
.header__title {
  width: 50%;
  padding: 150px 0px 0 58px;
  & h1 {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.3px;
    & b {
      border-bottom: 8px solid rgb(255, 159, 40);
    }
  }
  & p {
    color: rgb(79, 79, 79);
    font-size: 18px;
    font-family: Montserrat;
    padding: 58px 0 89px 0;
    line-height: 22px;

    & b {
      border-bottom: 5px solid rgb(255, 159, 40);
    }

    & a {
      color: #56ccf2;
      font-weight: bold;
    }
  }
}
.header__title-btn {
  & a {
    display: inline-block;
    color: rgb(86, 204, 242);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.3px;
    border: 2px solid rgb(86, 204, 242);
    border-radius: 5px;
    padding: 17px 42px;
    margin: 0 20px 0 0;
    transition-duration: 0.3s;
  }
  & a:hover {
    background: rgb(86, 204, 242);
    color: #fff;
  }
}

.header__image img {
  padding-top: 40px;
}
.rectangle {
  width: 639px;
  background-color: #56ccf2;
  padding: 139px 0;
  border-radius: 50px;
}
.signup__wrapper {
  padding: 27px 0 35px 70px;
  border: 0.5px solid rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: start;
}
.signup__title {
  padding-right: 250px;
  & h2 {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.3px;
    text-align: left;
    border-bottom: 8px solid rgb(255, 159, 40);
  }
}
.signup__desc {
  & p {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    padding: 28px 0 17px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: left;
  }
  & ul li {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: left;
    list-style-type: disc;
  }
  & li:nth-child(2) {
    padding: 15px 0;
  }
  & li::marker {
    color: rgb(255, 159, 40);
  }
}
.signup__btn {
  padding-top: 42px;
  & a {
    color: rgb(86, 204, 242);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-align: left;
    transition-duration: 0.3s;
  }
  & a:hover {
    border-bottom: 5px solid rgb(255, 159, 40);
  }
}
.my__notes {
  padding-top: 112px;
}
.my__notes-status {
  padding-bottom: 267px;
}
.my__notes-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 57px;
  & h2 {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.3px;
    border-radius: 5px;
    background: rgb(157, 231, 255);
    padding: 4.1px 18.2px;
  }
}
.my__status-btns {
  margin-bottom: 107px;
  display: inline-block;
  & button {
    color: rgb(160, 160, 160);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.3px;
    background: none;
    cursor: pointer;
    transition-duration: 0.1s;
    &:hover {
      color: rgb(255, 159, 40);
    }
  }
  & button:nth-child(2) {
    margin: 0 51px;
  }
}
.doctors {
  border: 0.5px solid rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 13px 20px;
  margin-bottom: 20px;
}
.doctors__time {
  position: relative;
  display: flex;
  gap: 37px;
  padding: 0 0 20px 0;
}
.doctors__time-flex {
  display: flex;
  gap: 12px;

  & img {
    width: 16px;
    height: 16px;
  }
  & img:last-child {
    width: 27px;
    height: 27px;
  }
  & p {
    width: 100%;
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 144.4%;
    letter-spacing: -0.3px;
  }
}
.doctors__time-status {
  position: absolute;
  top: 0;
  right: 55px;
  padding-left: 47%;
  & p {
    color: rgb(80, 79, 79);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.3px;
    border-radius: 5px;
    background: rgb(255, 171, 67);
    padding: 3.5px 0;
    width: 123px;
    text-align: center;
  }
}
.doctor__desc {
  display: flex;
  align-items: center;
}
.doctor__name {
  width: 60%;
  padding-left: 6px;
  & h3 {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.3px;
  }
  & p {
    color: rgb(170, 170, 170);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
    padding: 7px 0;
  }
  & b {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
  }
}
.doctor__img {
  width: 15%;
  & img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
}
.doctor__btn {
  width: 20%;
  & .link__btn,
  button {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: center;
    border-radius: 5px;
    background: rgb(86, 204, 242);
    padding: 12px 0;
    width: 225px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  & .link__btn:hover {
    background: rgb(255, 171, 67);
  }
  & button {
    background: rgb(246, 248, 251);
    color: rgb(167, 167, 167);
  }
}
.active {
  border-bottom: 3px solid rgb(86, 204, 242);
}
.status__past {
  background: rgb(27, 215, 65) !important;
}
.status__canceled {
  background: rgb(222, 125, 136) !important;
}
footer {
  background-color: rgb(79, 79, 79);
  width: 100%;
}
.footer__blocks {
  padding: 64px 0 71px 0;
  display: flex;
  justify-content: flex-start;
  gap: 70px;
}
.footer__logo-block {
  width: 30%;
}
.footer__desc {
  padding: 28px 0;

  & p {
    color: rgb(175, 175, 175);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: -0.3px;
    text-align: left;
  }
}
.footer__items {
  padding: 28px 0 37px 0;
  & a:nth-child(2) {
    padding: 0 24px;
  }
  & img {
    transition-duration: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.footer__store {
  & a:first-child {
    padding-right: 10px;
  }

  & img {
    transition-duration: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.footer__list {
  & ul li {
    padding-bottom: 43px;
    & a {
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: -0.3px;
      text-align: left;
      transition-duration: 0.3s;
      &:hover {
        color: rgb(255, 171, 67);
      }
    }
  }
  & ul li:last-child {
    padding-bottom: 0;
  }
}
.feedback__block {
  padding-bottom: 28px;
  & img {
    padding-right: 22px;
  }
  & a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: -0.3px;
    text-align: left;
    transition-duration: 0.3s;
    &:hover {
      color: rgb(255, 171, 67);
    }
  }
}
.feedback__block:last-child {
  padding-bottom: 0;
}
.doctors__profile {
  padding-bottom: 300px;
}
.doctor__profile-header-bc {
  background: rgb(86, 204, 242);
}
.doctor__profil-block-menu {
  padding: 24px 0 50px 0;
  & a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.3px;
    text-align: left;

    &:nth-child(2) {
      padding: 0 24px;
    }
    &:hover {
      color: rgb(255, 171, 67);
    }
  }
}
.doctor__profil-block-header {
  padding-bottom: 50px;
  display: flex;
  gap: 2%;
}
.profil__bl-header-img {
  width: 17%;
  & img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
}
.profil__bl-header-name {
  width: 60%;
  & h3 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.3px;
    text-align: left;
  }
  & p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
    text-align: left;
  }
  & p:nth-child(2) {
    font-weight: 700;
    padding: 20px 0;
  }
}
.profil__bl-header-price {
  width: 20%;
  & p {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.3px;
    text-align: left;
    padding-bottom: 10px;
    & img {
      padding-top: 4px;
    }
  }
  & p:nth-child(2) {
    font-weight: 600;
  }
}
.doctor__profil-block-desc-bl {
  width: 50%;
  padding-top: 50px;
  & h3 {
    color: rgb(86, 204, 242);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.3px;
    text-align: left;
    display: inline-block;
    padding-left: 20px;
  }
  & p {
    padding-top: 33px;
    color: rgb(80, 79, 79);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: left;
  }
}
.balance__wrapper {
  padding: 70px 0 48px 0;
}
.balance__title {
  & h2 {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.3px;
    text-align: left;
  }
}
.balance__desc {
  padding-top: 20px;
  & span {
    color: rgb(33, 150, 83);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.3px;
    text-align: left;
    padding-right: 53px;
    & img {
      padding-top: 10px;
    }
  }
  & button {
    border-radius: 10px;
    background: rgb(86, 204, 242);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: center;
    cursor: pointer;
    padding: 11.5px 119px;
    transition-duration: 0.3s;
    &:hover {
      background-color: rgb(255, 171, 67);
    }
  }
}
.balance__story {
  margin-bottom: 528px;
  & p {
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.3px;
    padding-bottom: 20px;
  }
}
.balance__story-desc {
  padding-bottom: 44px;
  & button {
    color: rgb(160, 160, 160);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: left;
    cursor: pointer;
    transition-duration: 0.1s;
    background: none;
    padding: 5px 10.5px;
    &:nth-child(2) {
      margin: 0 73px;
    }
    &:hover {
      border-radius: 5px;
      background: rgb(246, 248, 251);
    }
  }
}
.balance__data {
  display: flex;
  border-radius: 10px;
  background: rgb(246, 248, 251);
  margin-bottom: 10px;
  justify-content: space-evenly;
}
.balance__data-img {
  width: 20%;
}
.balance__data-time {
  width: 20%;
  & p {
    padding: 15px 0;
    color: rgb(79, 79, 79);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
    text-align: left;
  }
}
.balance__data-title {
  width: 20%;
  & p {
    padding: 15px 0;
    color: rgb(160, 160, 160);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
    text-align: left;
  }
}
.balance__data-price {
  width: 20%;
  & p {
    padding: 15px 0;
    color: rgb(33, 150, 83);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
    text-align: left;
  }
}
.not__found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
  gap: 5%;
}
.not__found-text {
  width: 40%;
  & h1 {
    text-align: center;
    font-size: 150px;
    color: rgb(240, 33, 33);
    font-family: Montserrat;
    font-weight: 500;
  }
  & p {
    color: rgb(240, 33, 33);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 55px;
  }
}
.not__found-img {
  width: 40%;
  & img {
    width: 100%;
  }
}
.json__placeholder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
}
.album__wrapper,
.photo__wrapper {
  width: 23%;
}
.album,
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 150px;
  background-color: #56ccf2;
  cursor: pointer;
  margin: 30px 0;
  border-radius: 25px;
  transition-duration: 0.2s;

  & p {
    color: rgb(79, 79, 79);
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 16px;
    line-height: normal;
  }
  &:hover {
    background-color: rgb(255, 171, 67);
    transform: scale(1.1);
  }
}
.photo {
  & p {
    font-size: 12px;
  }
}
.photo__btn-back {
  position: absolute;
  top: 20px;
  left: 5px;

  & button {
    font-size: 35px;
    cursor: pointer;
    background: none;
    border: none;
    transition-duration: 0.2s;
    &:hover {
      color: rgb(255, 159, 40);
      transform: scale(1.1);
    }
  }
}
.loading {
  margin: 50px;
  color: rgb(79, 79, 79);
  font-family: Montserrat;
}
.loading {
  text-align: center;
  font-family: Montserrat;
}
